@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Imperial+Script&family=Lobster&family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&family=Sawarabi+Gothic&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&family=Yuji+Mai&family=Yusei+Magic&family=Zen+Antique+Soft&display=swap');

.Jadwal-container {
    
    padding: 50px 92px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px; 
    
}

.Jadwal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 3px;
    padding: 0 0.5rem;
}

.date-time {
    display: flex;
    gap: 0.5rem;
    font-size: 0.7em;
    color: rgb(139, 139, 139);
}



.edit-delete {
    display: flex;
    justify-content: end;
    margin-top: 0.7rem;
    
}

.modal {
    background-color: aqua;
    display: flex;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
}










